@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-weight: 500;
  box-sizing: border-box;
}

body {
  background: rgb(28, 28, 28);
  background: linear-gradient(
    180deg,
    rgba(28, 28, 28, 80 ) 32%,
    rgb(85, 86, 86) 180%
  );
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  width: 350px;
  height: 500px;
  border-radius: 12px;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('https://img.freepik.com/free-photo/mesmerizing-view-reflection-mountain-lake-starry-night-sky_181624-24967.jpg?w=360&t=st=1701753163~exp=1701753763~hmac=10b0993e7c376dbbc3cfb624bf7dc42b9d7a48ee7daae1b92e4162cec17c4bc5');
  padding:20px 30px;
  position: relative;
  box-shadow: 0px 0px 50px 10px rgb(10, 10, 10 )
}

.box img {
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 12px;
}
.signup-text a{
text-decoration: none;
color: rgb(252, 78, 107);
}

#dark-h1{
  margin-left:50px;
  opacity: 0.5;
  position: absolute;
  top: 27px;
  right: 30px;
  font-size: 25px;
  text-decoration: none;
}

.signup-text{
  color: rgb(251, 84, 112);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.signup-text h1:hover{
  text-decoration: underline ;
  text-underline-offset: 10px;
}

#input{
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom:2px solid rgb(251, 84, 112);
  font-size: 21.5px;
  color: white;
  margin-bottom:50px;
  margin-top: 30px;
}

#input::placeholder{
  color: rgb(251, 84, 112);
  font-size: 15px;
  font-weight: 600;
}

#pass{
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom:2px solid rgb(251, 84, 112);
  font-size: 19.5px;
  font-weight: 600;
  color: white;
  margin-bottom:50px;
  margin-right:10px ;
}

#pass::placeholder{
  color: rgb(251, 84, 112);
  font-size: 18px;
  font-weight: 600;
}

#checkbox{
  margin-bottom: 50px;
}

.signIN{
  text-align: center;
}

#signIN{
  margin-bottom: 30px;
  padding:15px 40px;
  background-color: rgb(251, 84, 112);
  outline: 0;
  border: 0;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
}

#forgotPASS{
  background: transparent;
  outline: 0;
  border: 0;
  color: rgb(251, 84, 112);
  font-weight: 600;
  cursor: pointer;
}


#checkbox-text{
  font-size: 13px;
  text-align: center;
}




 